# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist/

# Production
.vercel
.turbo

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env
.env.production

# IDEs
.vscode
.idea
*.swp
*.swo

# Expo
.expo/
.expo-shared/

# AWS
.aws-sam/
cdk.out/
*.js.map

# Database
prisma/migrations/
*.db
*.db-journal
nul
